@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
header{
    background-image: url(../Assets/design1_image2.jpg);
    text-align: center;
    background-position: 50% 30%;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20vh;
}
h1{
    font-size: 36px;
    color: rgb(231, 110, 12);
    -webkit-text-stroke: 1px black;
    margin-top: auto;
    margin-bottom: auto;
}
nav{
    font-size: 14px;
    display: flex;
    justify-content: center;
    gap: 3px;
    flex-wrap: wrap;
}
nav a{
    border:1px solid black;
    text-decoration: none;
    background-color:#5050f4;
    box-shadow: 1.5px 1.5px 2px #110F0F;
    color: white;
    padding: 0 0.5px;
}
body{
    background: linear-gradient(180deg, rgba(203,135,8,0.09567577030812324) 0%, rgba(255,179,0,1) 100%) no-repeat;
    min-height: 100vh;
    width: 100%;
}
article{
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h3{
    font-size: 25px;
    text-decoration: underline;
    font-style: italic;
    margin-left: 3px;
}
.logo{
    width: 110px;
}
#titulogo{
    border: 1px solid black;
    padding: 1px;
    background-color: white;
    height: fit-content;
    margin: 3px 0;
    display: flex;
    align-items: center;
}
.gameinfointro{
    background-color: white;
    border: 1px solid black;
    height: fit-content;
    padding: 3px;
}
pre{
    font-size: 16px;
    border: 1px solid black;
    height: fit-content;
    width: fit-content;
    align-self: center;
    padding: 3px;
    background-color: white;
}
a:hover{
    background-color: white;
    color: black;
}
.hide{
    display: none;
}
.italic dd{
    font-style: italic;
    text-indent: 10px;
}
.about {
    list-style: disc inside;
}
.bold{
    font-weight: bold;
}
.center{
    text-align: center;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 2px;
}
th:hover, td:hover{
    background-color: white;
}
ul{
    list-style: inside;
}
#youngage{
    list-style: lower-alpha inside;
    margin-left: 3px;
}
#inlist{
    list-style: circle inside;
    text-indent: 10px;
}
form {
    padding: 10px;
}
input[type="text"],
input[type="date"] {
width: 100%;
margin-bottom: 10px;
font-size: 15px;
}
fieldset{
    max-width: 500px;
}
.linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 150px;
    padding: 0;
    margin: 2px auto 0 auto;
}
form ul{
    list-style: none;
}
legend{
    font-weight: bold;
}
.tamano{
    max-width: 700px;
}
input[type="submit"]{
    font-size: 20px ;
}

@media screen and (min-width: 550px) and (max-width: 1149px) {
    html{
        font-size: 24px;
    }
    header{
        min-height: 32vh;
    }
    h1{
        font-size: 60px;
    }
    nav{
        font-size: 20px;
    }
    h3{
        font-size: 40px;
    }
    .logo{
        width: 150px;
    }
    pre{
        font-size: 20px;
    }
    .hide{
        display: block;
    }
    .linea{
        display: none;
    }
    input[type="text"], input[type="date"] {
    font-size: 24px;
    }
    input[type="submit"]{
        font-size: 30px;
    }
    iframe{
        width: 200px;
    }
}


@media screen and (min-width: 1150px) {
    html{
        font-size: 30px;
    }
    header{
        min-height: 32vh;
    }
    h1{
        font-size: 90px;
    }
    nav{
        font-size: 28px;
    }
    h3{
        font-size: 50px;
    }
    .logo{
        width: 200px;
    }
    pre{
        font-size: 30px;
    }
    .hide{
        display: block;
    }
    fieldset{
        max-width: 800px;
    }
    input[type="text"], input[type="date"] {
        font-size: 30px;
        }
        iframe{
            width: 300px;
            height: 200px;
        }
}