@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
header{
    background-image: url(../Assets/design1_image2.jpg);
    text-align: center;
    background-position: 50% 30%;
    height: 12vw;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-size: 6vw;
    color: rgb(231, 110, 12);
    -webkit-text-stroke: 0.1vw black;
}
nav{
    font-size: 2vw;
    display: flex;
    justify-content: center;
    gap: 0.7vw;
}
nav a{
    border:0.2vw solid black;
    text-decoration: none;
    background-color:#5050f4;
    box-shadow: 1.5px 1.5px 2px #110F0F;
    color: white;
    padding: 0 0.3vw;
}
body{
    background: linear-gradient(180deg, rgba(203,135,8,0.09567577030812324) 0%, rgba(255,179,0,1) 100%) no-repeat;
    height: fit-content;
}
article{
    display: flex;
    padding: 0 5vw;
    justify-content: center;
}
h3{
    font-size: 4vw;
    text-decoration: underline;
    font-style: italic;
}
.logo{
    width: 10vw;
}
#titulogo{
    border:0.2vw solid black;
    padding: 1vw;
    background-color: white;
    height: fit-content;
    margin-bottom: 1vw;
    display: flex;
    align-items: center;
    margin: 0.5vw;
}
dt{
    font-weight: bold;
    display: list-item;
    list-style:inside;
}
ul{
    background-color: white;
    border:0.2vw solid black;
    font-size: 2vw;
    padding: 1vw;
}
dd{
    text-indent: 0.8vw;
}
.italic dd{
    font-style: italic;
}
li{
    list-style: none;
}
.titulo{
    text-align: center;
    list-style: none;
}
table{
    border-collapse: collapse;
    margin-top: 1vw;
    background-color: white;
    font-size: 2vw;
}
th, td {
    border: 0.2vw solid black;
    padding: 0 0.5vw;
    text-align: center;
}
.gameinfointro{
    font-size: 3vw;
    text-align: center;
    background-color: white;
    border: 0.2vw solid black;
    height: fit-content;
    align-self: center;
}
h4{
    font-size: 3vw;
    text-align: center;
}
form{
    font-size: 2vw;
    background-color: white;
}
input{
    width: 20vw;
    height: 3vw ;
    font-size: 2vw;
}
pre{
    font-size: 2vw;
    background-color: white;
    border: 0.2vw solid black;
    height: fit-content;
}
a:hover{
    background-color: white;
}
iframe{
    width: 15vw;
    height: 15vw;
}

@media (min-width:600px) {
    #titulogo{
        display: flex;
        align-items: center;
        min-width: 100%;
        justify-content: center;
    }
    article{
        flex-direction: column;
        align-items: center;
    }
    #homeinfo ul{
        border-top: 0;
    }
}
@media (max-width:600px){
    .hide{
        display: none;
    }
    dl{
        border-left: 0;
    }
    article{
        flex-wrap: wrap;
        margin: 1vw 0;
    }
}